/*.dock-header{*/
  /*position: absolute;*/
  /*top:0px;*/
  /*width: 100%;*/
  /*text-align: center;*/
  /*opacity: 0.7;*/
/*}*/

:host >>>.right-top-notify{
  right: 0px;
  top:0px;
}
:host >>>.right-bottom-notify{
  right: 0px;
  bottom: 0px;
}
:host >>>.left-top-notify{
  left: 0px;
  top:0px;
}
:host >>>.left-bottom-notify{
  left: 0px;
  bottom:0px;
}
:host >>>.default-size-notify{
  width: 150px !important;
}

:host >>>.full-size-notify{
  width: 100%;
}

.dock-header{
  position: absolute;
  text-align: center;
  width: 100%;
  opacity: 0.7;
}

:host >>> .alert {
  margin-bottom: 0px !important;
  animation: intro 3s;
  -webkit-animation: intro 3s;
  -moz-animation: intro 3s;
}


@keyframes intro {
  0% {opacity: 0.3;}
  20% {opacity: 0.7;}
  40% {opacity: 1;}
  60% {opacity: 1;}
  80% {opacity: 0.7;}
  100% {opacity: 0.3}
}
@keyframes end {
  0% {opacity: 1;}
  100% {opacity: 0.3}
}


alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
